/* Big Screens */
#couple {
    padding: 7% 7% 0;
}

#couple .title-quote {
    padding-bottom: 15px;
    border-bottom: 2px solid #002c6a;
    font-family: "Great Vibes", cursive;
    color: #002c6a;
}

#couple .row {
    padding: 7% 0;
    margin-left: 0px;
    margin-right: 0px;
}

#couple .col-lg-5,
.col-lg-2 {
    padding: 0;
}

#couple .heart-mid {
    width: 85%;
    margin-top: 50%;
}

#couple .img-wrapper {
    display: inline-block;
    border: 5px solid #002c6a;
    border-radius: 50%;
    padding: 10px;
    width: 80%;
}

#couple .couple-img {
    width: 100%;
    border: 2px solid #002c6a;
    border-radius: 50%;
}

#couple .info {
    padding-top: 7%;
}

#couple .info h3 {
    color: #002c6a;
}

#couple .info sub {
    font-size: 0.8rem;
}

#couple .info p {
    color: #444444;
    margin: 0px;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #couple {
        padding: 10% 10% 0;
    }
    #couple .title-quote {
        font-size: 1.5rem;
    }

    #couple .img-wrapper {
        width: 70%;
    }
    #couple .couple-img {
        width: 100%;
    }
    #couple h3 {
        font-size: 1rem;
    }
    #couple .info p {
        font-size: 12px;
    }
    #couple .heart-mid {
        width: 40%;
        margin: 10%;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
